@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

html {
  scroll-behavior: smooth;
}

/* canvas{
    display:block;
    vertical-align:bottom;
   } */
   
canvas{
  display:block;
  /* vertical-align:bottom; */
} 

body {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(51, 51, 51, 0.213);
    flex-direction: column;
}

.containerb{
    margin:auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.banner{
    width: 100%;
    height: 100%;
    background-color: #424242;
    background-image: url('../img/bannerf.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
/* .panelbanner{
    position: absolute;
    top: 50%;
    left: 15%;
    margin: -120px 0 0 -100px;
    padding: 20px;
    z-index: 100; 

}
.panelbanner img {
    transition: transform 0.2s ease-in-out; 
    width: 20%;
    margin-bottom: 100px;
    user-select: none;

}
.panelbanner img:hover{
    transform: scale(1.2);
} 
.panelbanner h1 {
    font-weight: 700;
    font-size: 7rem;
    line-height: 71px;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.panelbanner p {
    padding-top: 40px;
    font-weight: 400;
    font-size: 4rem;
    line-height: 34px;
    color: #79BA00;
} */

@keyframes sube-y-baja {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.animflecha{
    margin: 20px;
    width: 3%;
    animation-name: sube-y-baja;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Estilos Productos */
#productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  
  .producto {
    width: 300px;
    margin: 20px;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .producto img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .producto h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .producto p {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .producto a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    
  }
  
  .producto a:hover {
    background-color: #007b3e;
  }
  

 /* Estilos Footer */
 footer {
    background-color: #2d2d2d;
    color: #fff;
    padding: 50px 0;
    margin-top: 50px;
    width: 100%;
  }
  
  .containerf {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-links,
  .footer-contact,
  .footer-social {
    display: inline-block;
    margin-right: 10px;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .footer-links h3,
  .footer-contact h3,
  .footer-social h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .footer-links ul,
  .footer-contact ul,
  .footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links li,
  .footer-contact li,
  .footer-social li {
    margin-bottom: 15px;
  }
  
  .footer-links a,
  .footer-contact a,
  .footer-social a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover,
  .footer-contact a:hover,
  .footer-social a:hover {
    color: #007b3e;
  }
  
  .footer-social i {
    font-size: 2rem;
    margin-right: 10px;
  }
  

  @media only screen and (max-width: 479px) and (min-width: 0px) {
    /* reglas CSS para pantallas pequeñas */
    .containerf {
      flex-direction: column;
      margin-left: 20px;
    }
    .producto {
      width: 100%;
    }
    .footer-links,
    .footer-contact,
    .footer-social {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  
  @media only screen and (max-width: 600px) and (min-width: 480px) {
    /* reglas CSS para pantallas medianas */

    .containerf {
      flex-direction: column;
      margin-left: 20px;
    }
    .producto {
      width: 100%;
    }
    .footer-links,
    .footer-contact,
    .footer-social {
      width: 100%;
      margin-bottom: 40px;
    }
  }
